<br>
<div class="container">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employee ID</label>
            <div class="col-sm-10">
                <input name="empID" readonly [(ngModel)]="employee.empId" type="text" class="form-control" id="empID">
            </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" readonly name="name" [(ngModel)]="employee.empName" class="form-control" id="name">

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Designation</label>
            <div class="col-sm-10">
                <input type="text" readonly name="designation" [(ngModel)]="employee.empDesignation"
                    class="form-control" id="designation">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-10">
                <input type="text" readonly name="salary" [(ngModel)]="employee.empSalary" class="form-control"
                    id="salary">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project</label>
            <div class="col-sm-10">
                <input type="text" readonly name="project" [(ngModel)]="employee.empProjectName" class="form-control"
                    id="project">

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Manager</label>
            <div class="col-sm-10">
                <input type="text" readonly name="manager" [(ngModel)]="employee.empManager" class="form-control"
                    id="manager">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 offset-2">
                <a class="btn btn-primary" [routerLink]="['/list',{id:employee.empId}]"
                    queryParamsHandling="preserve">Back</a>

            </div>
        </div>
    </form>
</div>