<div class="container">
    <br>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search By Name" />
    </div>
    <div *ngIf="error" class="text-danger">
        {{error}}
    </div>
    <br>
    <div class="col-md-12">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Project Name</th>
                    <th>Manager Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of filteredEmployees | employeeSort:'id'"
                        [class.text-danger]="selectedEmployeeId ===employee.id">
                        <td>{{employee.id}}</td>
                        <td>{{employee.empName}}</td>
                        <td>{{employee.empDesignation}}</td>
                        <td>{{employee.empSalary}}</td>
                        <td>{{employee.empProjectName}}</td>
                        <td>{{employee.empManager}}</td>
                        <td>
                            <div>
                                <button type=" button" class="btn btn-primary mr-1"
                                    (click)="viewEmployee(employee.id)">Details</button>
                                <button type="button" class="btn btn-primary  mr-1"
                                    (click)="onEditClick(employee.id)">Edit</button>
                                <span *ngIf="confirmDelete">
                                    <span>Are you sure you want delete?</span>
                                    <button type="button" class="btn btn-danger"
                                        (click)="deleteEmployee(employee.id)">Yes</button>
                                    <button type="button" class="btn btn-primary"
                                        (click)="confirmDelete=false">No</button>
                                </span>
                                <button *ngIf="!confirmDelete" type="button" class="btn btn-danger"
                                    (click)="confirmDelete=true">Delete</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>