<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search By Name" />

    </div>
    <div class="col-md-12">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Project Name</th>
                    <th>Manager Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of filteredEmployees"
                        [class.text-danger]="selectedEmployeeId ===employee.empId">
                        <td>{{employee.empId}}</td>
                        <td>{{employee.empName}}</td>
                        <td>{{employee.empDesignation}}</td>
                        <td>{{employee.empSalary}}</td>
                        <td>{{employee.empProjectName}}</td>
                        <td>{{employee.empManager}}</td>
                        <td>
                            <!-- <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary"
                                    (click)="onEditClick(employee.empId)">Edit</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteEmployee(employee.empId)">Delete</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="employeeDetail(employee.empId)">Details</button>
                            </div> -->
                            <div>
                                <button type="button" class="btn btn-primary"
                                    (click)="onEditClick(employee.empId)">Edit</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteEmployee(employee.empId)">Delete</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="viewEmployee(employee.empId)">Details</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>